@import url("https://fonts.cdnfonts.com/css/honey-script");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.cdnfonts.com/css/signika");
@keyframes animacionTitulo {
  0% {
    color: rgb(255, 0, 64);
    left: 0px;
    top: 0px;
  }
  25% {
    color: rgb(255, 119, 0);
    left: 200px;
    top: 0px;
  }
  50% {
    color: rgb(115, 0, 255);
    left: 200px;
    top: 200px;
  }
  75% {
    color: rgb(192, 84, 169);
    left: 0px;
    top: 200px;
  }
  100% {
    color: red;
    left: 0px;
    top: 0px;
  }
}
@keyframes animacionBorde {
  0% {
    border-color: rgb(255, 0, 64);
    left: 0px;
    top: 0px;
  }
  25% {
    border-color: rgb(255, 119, 0);
    left: 200px;
    top: 0px;
  }
  50% {
    border-color: rgb(115, 0, 255);
    left: 200px;
    top: 200px;
  }
  75% {
    border-color: rgb(192, 84, 169);
    left: 0px;
    top: 200px;
  }
  100% {
    border-color: red;
    left: 0px;
    top: 0px;
  }
}
@keyframes animacionHeader {
  0% {
    color: rgb(192, 84, 169);
    left: 0px;
    top: 200px;
  }
  50% {
    color: rgb(115, 0, 255);
    left: 200px;
    top: 200px;
  }
  100% {
    color: rgb(192, 84, 169);
    left: 0px;
    top: 200px;
  }
}
@keyframes animacionCarrito {
  0% {
    background-color: rgb(255, 0, 64);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: rgb(255, 119, 0);
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: rgb(115, 0, 255);
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: rgb(192, 84, 169);
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Signika", sans-serif;
}

body {
  background-color: rgb(253, 214, 214) !important;
  height: auto;
}

main {
  padding: 0 30px;
}
main h1 {
  cursor: default;
  padding-top: 30px;
  text-align: center;
  color: #2e2e2e;
  font-family: "Honey Script", sans-serif !important;
  text-shadow: 2px 2px pink;
  text-transform: uppercase;
  font-size: 50px !important;
  animation-name: animacionTitulo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
main h2 {
  cursor: default;
  padding-top: 30px;
  text-align: center;
  color: #2e2e2e;
  font-family: "Honey Script", sans-serif;
  text-shadow: 2px 2px pink;
  font-size: 35px;
  text-transform: uppercase;
  animation-name: animacionTitulo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

header {
  text-align: center;
  background-color: black;
}
header img {
  height: 200px;
}

.encabezadoPetshop {
  height: 70px !important;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 10px;
  background-image: url(https://img.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58931.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  padding: 0 30px;
  padding-top: 20px;
}
.encabezado a {
  padding: 0 15px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: "Signika", sans-serif;
  transition: 300ms;
}
.encabezado a:visited {
  color: #2e2e2e;
}
.encabezado a:link {
  color: #2e2e2e;
}
.encabezado a:active {
  color: black;
}
.encabezado a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 28px;
  animation-name: animacionHeader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 1px 1px black;
}

.cajaPrincipal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 5px rgba(46, 46, 46, 0.2901960784) solid;
  border-radius: 30px;
  margin: 20px 0;
  overflow: hidden;
  padding-right: 10px;
  animation-name: animacionBorde;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.cajaPrincipal p {
  cursor: default;
  font-size: larger;
  padding-top: 50px;
  padding-left: 15px;
  font-family: "Signika", sans-serif;
  text-shadow: 1px 1px gray;
}

.columna {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}
.columna ul {
  list-style: none;
}

.fila {
  margin-top: 10px;
  color: rgb(201, 124, 155);
}
.fila a {
  margin: 0 10px;
  text-decoration: none;
}
.fila a:visited {
  color: rgb(201, 124, 155);
}
.fila a:link {
  color: rgb(201, 124, 155);
}
.fila a:hover {
  color: white;
}
.fila ul {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.fila li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.fila li img {
  padding-left: 25px;
  height: 40px;
  width: 50px;
}

.contenedor {
  display: block;
  position: relative;
  height: fit-content;
  margin-bottom: 100px;
}

.resultadoPresupuesto {
  height: fit-content;
}

.contenedorPetShop {
  height: fit-content;
}
.contenedorPetShop section {
  display: flex;
}
.contenedorPetShop section div {
  width: 500px;
}
.contenedorPetShop table {
  margin-top: 10px;
  margin-bottom: 20px;
  border-collapse: separate;
}
.contenedorPetShop table td,
.contenedorPetShop table th {
  border: 2px salmon solid;
  padding: 0 10px;
  text-align: center;
}
.contenedorPetShop table td button,
.contenedorPetShop table th button {
  background-color: black;
  color: pink;
}

button {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.productosCarritoDialog {
  margin-top: 20px;
}

.agregarAlCarrito {
  background-color: black !important;
  color: pink !important;
  transition: 700ms !important;
}
.agregarAlCarrito:hover {
  background-color: pink !important;
  color: black !important;
  transform: scale(1.05) !important;
}

.petshopCarrito {
  margin: 0;
  margin-right: 80px;
}
.petshopCarrito table {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: black 2px solid;
  border-collapse: collapse;
}
.petshopCarrito table td {
  border: none;
  padding: 2px 10px;
  text-align: center;
}
.petshopCarrito table th {
  border: none;
  text-align: center;
  border-top: black 2px solid;
}
.petshopCarrito table th button {
  background-color: black;
  color: pink;
}

.petshopProductos {
  display: grid;
  grid-template-columns: 1fr;
}

.petshopCompra {
  text-align: center;
}
.petshopCompra table {
  position: relative;
  left: 38%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: black 2px solid;
  border-collapse: collapse;
}
.petshopCompra table td {
  border: black 2px solid;
  padding: 2px 2px;
}
.petshopCompra table th {
  border: none;
  padding: 0 10px;
  text-align: center;
}
.petshopCompra table th button {
  background-color: black;
  color: pink;
  transition: 500ms;
}
.petshopCompra table th button:hover {
  color: white;
  background-color: pink;
}

.contenedorTurnos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenedorTurnos div:nth-child(1) {
  justify-self: right;
  padding-right: 20px;
}
.contenedorTurnos div:nth-child(3) {
  justify-self: right;
  padding-right: 20px;
}
.contenedorTurnos div:nth-child(5) {
  justify-self: right;
  padding-right: 20px;
}

.turnos {
  margin-bottom: 100px;
  width: 100%;
}
.turnos input {
  position: relative;
  top: 20px;
  height: 30px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.turnos label {
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
  top: 20px;
  height: 30px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.turnos select {
  position: relative;
  top: 20px;
  height: 35px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.turnos button {
  position: relative;
  top: 20px;
  left: 47%;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(251, 123, 144);
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  transition: 300ms;
}
.turnos button:hover {
  background-color: rgb(201, 124, 155);
  transform: scale(1.1);
}

.formGuarderia button {
  position: relative;
  left: 45%;
}
.formGuarderia p {
  text-align: center;
  font-size: 15px;
  color: #2e2e2e;
}

.guarderiaForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.guarderiaForm label {
  text-align: end;
  padding-right: 10px;
}
.guarderiaForm input {
  text-align: center;
  width: 300px;
}
.guarderiaForm select {
  text-align: center;
  width: 305px;
}

.carritoLleno {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}
.carritoLleno button {
  border-radius: 10px;
  background-color: black;
  animation-name: animacionCarrito;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 10px;
}
.carritoLleno img {
  height: 35px;
}

.carritoVacio {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}
.carritoVacio img {
  height: 35px;
}

.mostrarCarrito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  background-color: #fff;
  padding: 20px;
  z-index: 1000;
}

.botonCerrar {
  position: absolute;
  right: 5px;
  top: 1px;
  width: 20px;
}

.hora {
  text-align: end;
  color: black;
  animation-name: animacionHeader;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.cardProductos {
  text-align: center;
  width: 300px;
  height: 320px !important;
}
.cardProductos img {
  position: relative;
  left: 32%;
}

/*# sourceMappingURL=styles.css.map */
