@keyframes animacionTitulo {
    0%   {color:rgb(255, 0, 64); left:0px; top:0px;}
    25%  {color:rgb(255, 119, 0); left:200px; top:0px;}
    50%  {color:rgb(115, 0, 255); left:200px; top:200px;}
    75%  {color:rgb(192, 84, 169); left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

  @keyframes animacionBorde {
    0%   {border-color:rgb(255, 0, 64); left:0px; top:0px;}
    25%  {border-color:rgb(255, 119, 0); left:200px; top:0px;}
    50%  {border-color:rgb(115, 0, 255); left:200px; top:200px;}
    75%  {border-color:rgb(192, 84, 169); left:0px; top:200px;}
    100% {border-color:red; left:0px; top:0px;}
  }

  @keyframes animacionHeader {
    0%   {color:rgb(192, 84, 169); left:0px; top:200px;}
    50%  {color:rgb(115, 0, 255); left:200px; top:200px;}
    100%  {color:rgb(192, 84, 169); left:0px; top:200px;}
  }

  @keyframes animacionCarrito {
    0%   {background-color:rgb(255, 0, 64); left:0px; top:0px;}
    25%  {background-color:rgb(255, 119, 0); left:200px; top:0px;}
    50%  {background-color:rgb(115, 0, 255); left:200px; top:200px;}
    75%  {background-color:rgb(192, 84, 169); left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }