* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 214, 214);
}

main {
    padding: 0 30px;
    h1 {
        padding-top: 20px;
        text-align: center;
        color:#2e2e2e;
        font-family:'Courier New', Courier, monospace;
        text-shadow: 2px 2px pink;
    }

    h2 {
        padding-top: 20px;
        text-align: center;
        color:#2e2e2e;
        font-family:'Courier New', Courier, monospace;
        text-shadow: 2px 2px pink;
        font-size: 30px;
    }
}

header {
    text-align: center;
    background-color: black;
    img {
        height: 250px;
    }
}


.encabezado {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left:10px;
    background-image: url(https://img.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58931.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    padding: 0 30px;
    padding-top: 20px;

    a {
        padding: 0 15px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        font-family:'Courier New', Courier, monospace;
        transition: 300ms;
        &:visited {
            color: #2e2e2e;
        }

        &:active {
            color: black;
        }

        &:hover {
            color: rgb(103, 0, 70);
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            font-size: 28px;
        }   
    }
}

.cajaPrincipal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 5px #2e2e2e4a solid;
    border-radius: 30px;
    margin: 20px 0;
    overflow: hidden;
    padding-right: 10px;

    p {
        font-size: larger;
        padding-top: 50px;
        padding-left: 15px;
    }
}

.columna {
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.fila {
    margin-top: 10px;
    color: pink;
    a {
        margin: 0 10px;
        text-decoration: none;
        &:visited {
            color: pink;
        }

        &:hover {
            color: white;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
}
